<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.TableUserMapper">

    <select id="getAll" resultType="models.TableUser">
        SELECT * FROM table_user;
    </select>

    <insert id="insert">
        INSERT INTO table_user (name, age, email, address)
        VALUES (#{name}, #{age}, #{email}, #{address});
    </insert>

    <update id="update">
        UPDATE table_user
        SET name = #{name},
            age = #{age},
            email = #{email},
            address = #{address}
        WHERE id = #{id};
    </update>

    <delete id="delete">
        DELETE FROM table_user WHERE id = #{id};
    </delete>

    <select id="getById" resultType="models.TableUser">
        SELECT * FROM table_user WHERE id = #{id};
    </select>

</mapper>
